# Postgres configuration
pg_dsn = postgresql+psycopg2://postgres:postgres@localhost:5432/FairWattDB

# Web App
api_host = 0.0.0.0
api_port = 8000

# More: https://dev.2gis.ru/api
gis_api =

# More: https://yandex.ru/maps-api/docs/geocoder-api/index.html
api_ya_geocode =

# AI agent
# Compatible with OpenAI API
ai_api   =
ai_base_url =
ai_model = deepseek-chat-v3-0324